<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dream Team</title>
  </head>
  <body>
    <h1>Welcome to your Dream Team!</h1>
    <ul>
      <li><a href="/users">Users</a></li>
      <li><a href="/players">Players</a></li>
      <li><a href="/formations">Formations</a></li>
    </ul>
  </body>
</html>